# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.DS_Store

# Ignore all files in the node_modules folder
node_modules/

# Ignore test results   
test-report/
#
.env
# Ignore other files
tests-examples/
#CODEOWNERS
README copy.md
package-lock.json
/test-results/
/playwright-report/
#
*.txt
#
playwright/.auth
#